<h3 class="m-t-0 m-b-30"><small>Nginx Configuration</small></h3>
<textarea cols="60" rows="10" id="nginx" class="form-control" spellcheck="false" style="background:#34495E; width: 500px;;color:#fff; padding:0px ">{{=query[0]['nginx_conf_data']}}</textarea>
<script>

      function nginxdata() {
          $.ajax({
                type: "POST",
                url: "/Waf2Py/default/EngxEdit/{{=query[0]['id_rand']}}/prod",
                contentType: "application/x-www-form-urlencoded",
                data: encodeURIComponent($('#nginx').val())
          })
          };

    </script>
<br>
    <!--<input type="submit" value="Save"  onclick="nginxdata()" class="btn btn-sm glyphicon glyphicon-floppy-disk"/>-->
    <button type="button" onclick="nginxdata()" class="btn btn-info">
        <span class="glyphicon glyphicon-floppy-disk"></span> Save
    </button>
  <br><br>
  <h3 class="m-t-0 m-b-30"><small>Modsecurity Configuration</small></h3>
  <textarea cols="60" rows="10" id="modsec" class="form-control" spellcheck="false" style="background:#34495E; width: 500px;;color:#fff; padding:0px ">{{=query[0]['modsec_conf_data']}}</textarea>
    <script>
          function modsecdata() {
              $.ajax({
                    type: "POST",
                    url: "/Waf2Py/default/ModsEdit/{{=query[0]['id_rand']}}/prod",
                    contentType: "application/x-www-form-urlencoded",
                    data: encodeURIComponent($('#modsec').val())
              })
              };

        </script>
    <br>
         <button type="button" onclick="modsecdata()" class="btn btn-primary">
            <span class="glyphicon glyphicon-floppy-disk"></span> Save
         </button>
